.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-menu {
  height: 350px;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-menu p {
  text-align: justify;
  line-height: 1.3rem;
  text-align: center;
}

.about-menu p a {
  font-weight: 600;
}

.earth-icon {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  width: 150px;
}

.about-menu .social-media {
  display: flex;
  justify-content: space-around;
  width: 130px;
}

.about-page .border-button {
  width: 100%;
}

@media screen and (min-width: 481px) {
  .about-menu p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .about-menu {
    padding: 1rem 3.5rem;
  }
}
