.config-menu {
  padding: 1rem 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.config-menu h2 {
  text-align: center;
}

.options-title {
  font-weight: 600;
  margin-top: 0.3rem;
  text-align: center;
}

.continents-container .options-title {
  margin-top: 2rem;
}

.flags-amount {
  display: flex;
  justify-content: center;
  margin: 0.6rem 0;
}

.selected-continents {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0;
}

.config-menu .buttons {
  display: flex;
  justify-content: center;
}

.buttons .border-button {
  margin: 0.5rem 0.6rem;
}

.config-menu .form-error {
  color: red;
  margin: -0.3rem 0 0.8rem 0;
  font-size: 0.8rem;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@media screen and (min-width: 769px) {
  .config-menu .options {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 270px;
    width: 80%;
  }

  .continents-container .options-title {
    margin-top: 0.5rem;
  }

  .options-title {
    margin: 0.5rem 0;
  }

  .flags-amount-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0;
  }

  .flags-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
  }

  .continents-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0;
  }
}
