@import url(
  'https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Raleway:wght@300;400;500;600;700&display=swap'
);

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
